<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand logo" href="#/">
        <img alt="Brand" src="http://pngimg.com/upload/bucket_PNG7774.png">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-show='{{$storage.ItemsToPage.loggedIn}}'>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#welcome/ + {{$storage.ItemsToPage._id}}">Bucket<span class="sr-only">(current)</span></a></li>
        <li><a href="#/" ng-click='logout()'>Logout</a></li>
        <li class="dropdown"><a href="#profile/ + {{$storage.ItemsToPage._id}}">Profile</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <h1>{{$storage.ItemsToPage.oneFriend.userFirst}} {{$storage.ItemsToPage.oneFriend.userLast}}</h1>
  <div ng-hide='checkToHide($storage.ItemsToPage)'>
    <button ng-click='addFriend($storage.ItemsToPage.oneFriend)'><i class="fa fa-check-circle-o fa-2x"></i><span>Friend</span></button>
  </div>
  <div class="friend list" ng-show='$storage.ItemsToPage.oneFriend.private === false'>
    <div class="list" ng-repeat='item in $storage.ItemsToPage.friendBucket'>
      <i ng-hide='checkLikesToHide($storage.ItemsToPage, item)' class="fa fa-thumbs-o-up fa-2x" ng-click='addLike(item)'></i>{{item.likes}}
      <p>
        {{item.title}}
      </p>
      {{item.location}}
    </div>
  </div>
</div>
