<div class="navbar navbar-fixed-top" ng-show='{{$storage.ItemsToPage.loggedIn}}'>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      <div class="nav navbar-nav navbar-right">
        <div class="dropdown-button">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbarInfo">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
          </button>
        </div>
        <a class="navbar-brand logo" href="#/">
          <img alt="Brand" src="http://www.amdesigns.com/pictures/1638_detail.png">
        </a>
        <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <strong>{{$storage.ItemsToPage.pendingFriends.length}} </strong><i class="fa fa-user fa-2x"></i>
              <span class="caret"></span></div>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" ng-repeat='pending in $storage.ItemsToPage.pendingFriends'>
                <li><i class="fa fa-check-circle-o" ng-click=addToFriends(pending._id)></i><i class="fa fa-times-circle-o" ng-click='removePending(pending)'></i>{{pending.userFirst}} {{pending.userLast}}</li>
              </ul></li>
        <div class="searchbar">
          <input class="searcher searcher_right" type="text" ng-model='person' placeholder="Find Friends">
          <div class="search">
            <div ng-show='seeResults(person)' ng-repeat='friend in users | filter:{userFirst: person}'>
              <div id='searchResults' ng-click='findOne(friend)' tabindex=1++>{{friend.userFirst}} {{friend.userLast}}</div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="collapse navbar-collapse" id="mainNavbarInfo" ng-show='{{$storage.ItemsToPage.loggedIn}}'>
        <div class=" list-items">
          <ul class="nav navbar-nav">
            <li class="dropdown"><a href="#welcome/ + {{$storage.ItemsToPage._id}}">Bucket<span class="sr-only">(current)</span></a></li>
            <li class="dropdown"><a href="#profile/ + {{$storage.ItemsToPage._id}}">Profile</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class='logout' href="#/" ng-click='logout()'>Logout</a></li>
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="container home">
  <div class="quote">
    <h1 class='quote_title'>Not knowing when the dawn will come I open every door</h1>
    <h3 class="quote_author">-Emily Dickenson</h3>
  </div>
  <div class="btn" ng-hide='{{$storage.ItemsToPage.loggedIn}}'>
    <a class='btn_signup' href="#signup">Sign Up</a>
    <a class='btn_login' href="#login">Login</a>
  </div>
</div>
