<div class="navbar navbar-fixed-top">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      <div class="nav navbar-nav navbar-right">
        <div class="dropdown-button">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbarInfo">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
          </button>
        </div>
        <a class="navbar-brand logo" href="#/">
          <img alt="Brand" src="http://www.amdesigns.com/pictures/1638_detail.png">
        </a>
        <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <strong>{{$storage.ItemsToPage.pendingFriends.length}} </strong><i class="fa fa-user fa-2x"></i>
              <span class="caret"></span></div>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" ng-repeat='pending in $storage.ItemsToPage.pendingFriends'>
                <li><i class="fa fa-check-circle-o" ng-click=addToFriends(pending._id)></i><i class="fa fa-times-circle-o" ng-click='removePending(pending)'></i>{{pending.userFirst}} {{pending.userLast}}</li>
              </ul></li>
        <div class="searchbar">
          <input class="searcher searcher_right" type="text" ng-model='person' placeholder="Find Friends">
          <div class="search">
            <div ng-show='seeResults(person)' ng-repeat='friend in users | filter:{userFirst: person}'>
              <div id='searchResults' ng-click='findOne(friend)' tabindex=1++>{{friend.userFirst}} {{friend.userLast}}</div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="collapse navbar-collapse" id="mainNavbarInfo" ng-show='{{$storage.ItemsToPage.loggedIn}}'>
        <div class=" list-items">
          <ul class="nav navbar-nav">
            <li class="dropdown"><a href="#welcome/ + {{$storage.ItemsToPage._id}}">Bucket<span class="sr-only">(current)</span></a></li>
            <li class="dropdown"><a href="#profile/ + {{$storage.ItemsToPage._id}}">Profile</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class='logout' href="#/" ng-click='logout()'>Logout</a></li>
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  <div class="main">
    <h1>{{$storage.ItemsToPage.userFirst}} {{$storage.ItemsToPage.userLast}}</h1>
    <form class="profile-form" ng-submit="updateProfile()" novalidate name="form" form-autofill-fix>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="first">First Name</label>
              <input type="text" id="first" class="form-control" ng-model='$storage.ItemsToPage.userFirst' required>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="last">Last Name</label>
              <input type="text" id="last" class="form-control" ng-model='$storage.ItemsToPage.userLast' required>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="email">Email</label>
              <input type="email" id="email" class="form-control" ng-model='$storage.ItemsToPage.email' required>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
          <input type="text" id="address" class="form-control" ng-model='$storage.ItemsToPage.streetAddress' required>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="state">State</label>
              <input type="text" id="state" class="form-control" ng-model='$storage.ItemsToPage.state' required>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="city">City</label>
              <input type="text" id="city" class="form-control" ng-model='$storage.ItemsToPage.city' required>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="zipcode">Zipcode</label>
              <input type="text" id="zipcode" class="form-control" ng-model='$storage.ItemsToPage.zipcode' required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <div class="form-group private-group">
            <label for="private">Private</label>
              <input type="checkbox" id="private" class="form-control" ng-model='$storage.ItemsToPage.private' required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <input type="submit" class='btn btn-default' value="Update Profile">
        </div>
      </div>
    </form>
  </div>
</div>
