<h1>Sign UP</h1>
<div class="container">
  <p>
    {{$storage.ItemsToPage}}
  </p>
  <form class="form-horizontal" ng-submit="signup()" novalidate name="form">
    <div class="form-group">
      <label for="first">First Name</label>
        <input type="text" id="first" class="form-control" ng-model="newUser.first" required>
    </div>
    <div class="form-group">
      <label for="last">Last Name</label>
        <input type="text" id="last" class="form-control" ng-model="newUser.last" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
        <input type="email" id="email" class="form-control" ng-model="newUser.email" required>
    </div>
    <div class="form-group">
      <label for="address">Address</label>
        <input type="text" id="address" class="form-control" ng-model="newUser.streetAddress" required>
    </div>
    <div class="form-group">
      <label for="city">City</label>
        <input type="text" id="city" class="form-control" ng-model="newUser.city" required>
    </div>
    <div class="form-group">
      <label for="state">State</label>
        <input type="text" id="state" class="form-control" ng-model="newUser.state" required>
    </div>
    <div class="form-group">
      <label for="zipcode">Zipcode</label>
        <input type="text" id="zipcode" class="form-control" ng-model="newUser.zipcode" required>
    </div>
    <div class="form-group">
      <label for="private">Private</label>
        <input type="checkbox" id="private" class="form-control" ng-model="newUser.private" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
        <input type="password" id="password" class="form-control" ng-model="newUser.password" required>
    </div>
    <div class="form-group">
      <label for="passConfirm">Confirm Password</label>
        <input type="password" id="passConfirm" class="form-control" ng-model="newUser.confirmPass" required>
    </div>
    <input type="submit" value="Sign Up">
    </div>
  </form>
</div>
