<h1>Sign UP</h1>
<div class="container">
  <form class="form-horizontal" ng-submit="signup()" novalidate name="form">
    <div class="form-group">
      <label for="first">First Name</label>
        <input type="text" id="first" class="form-control" ng-model="newUser.first" required>
    </div>
    <div class="form-group">
      <label for="last">Last Name</label>
        <input type="text" id="last" class="form-control" ng-model="newUser.last" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
        <input type="email" id="email" class="form-control" ng-model="newUser.email" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
        <input type="password" id="password" class="form-control" ng-model="newUser.password" required>
    </div>
    <div class="form-group">
      <label for="passConfirm">Confirm Password</label>
        <input type="password" id="passConfirm" class="form-control" ng-model="newUser.confirmPass" required>
    </div>
    <input type="submit" value="Sign Up">
    </div>
  </form>
</div>
