<div class="container-fluid">
  <div class="navbar">
    <div class='left'>
      <img class='logo' src="http://pngimg.com/upload/bucket_PNG7774.png" alt="Bucket List" />
    </div>
    <div class="right" ng-show='{{$storage.ItemsToPage.loggedIn}}'>
      <a class='link' href="#welcome/ + {{$storage.ItemsToPage._id}}">Bucket</a>
      <a class='link' href="#/" ng-click='logout()'>Logout</a>
    </div>
    <div class="right">
      <ahref="#profile/ + {{$storage.ItemsToPage._id}}">Profile</a>
    </div>
    <input class="searcher" type="text" ng-model='person' placeholder="Find Friends">
  </div>
  <ul class='search' ng-show='person.length != 0' ng-repeat='friend in users | filter:{userFirst: person}'>
    <li ng-click='findOne(friend)'>{{friend.userFirst}}</li>
  </ul>
</div>
<div class="container">
  <h1>Check Out Your Bucket {{$storage.ItemsToPage.userFirst}}</h1>
  <div ng-repeat='pending in $storage.ItemsToPage.pendingFriends'>
    <div class='friends'>
      <button ng-click=addToFriends(pending._id)><i class="fa fa-check-circle-o"></i></button><button ng-click='removePending(pending)'><i class="fa fa-times-circle-o"></i></button><span>{{pending.userFirst}} {{pending.userLast}}</span>
    </div>
  </div>
  <div ng-repeat='friend in $storage.ItemsToPage.foundFriends'>
    <p>
      {{friend.userFirst}}
    </p>

  </div>
  <div>
    <span><h3><strong>First Name: </strong>{{$storage.ItemsToPage.userFirst}} <strong>Last Name: </strong>{{$storage.ItemsToPage.userLast}}</h3></span>
    <span><strong>Email: </strong>{{$storage.ItemsToPage.email}} strong</span>
  </div>
  <div>
    <button ng-click='toggleNewBucket()'>
      Add to Bucket
    </button>
  </div>
  <div ng-hide='newBucket'>
    <form class="form-inline" ng-submit="addDream(item)">
      <div class="form-group">
        <label for="location">Location</label>
          <input type="text" id="location" class="form-control" ng-model="item.location" required>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
          <input class="form-control" id="title" type="text" ng-model="item.title" required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
          <input class="form-control" id="description" type="textarea" ng-model="item.description" required>
      </div>
      <div class="form-group">
        <label for="image">Image URL</label>
          <input class="form-control" id="image" type="url" ng-model="item.image" placeholder="Optional">
      </div>
      <input type="submit" name="Add to Bucket" ng-click='toggleNewBucket()'>
    </form>
  </div>
  <div ng-repeat='item in $storage.ItemsToPage.bucket'>
    <div>
      <img src="{{item.image}}"/>
    </div>
    <div>
      <p>
        <strong>Title: </strong> {{item.title}}
      </p>
    </div>
    <div>
      <p>
        <strong>Location: </strong>{{item.location}}
      </p>
    </div>
    <div>
      <p>
        <strong>Description: </strong> {{item.description}}
      </p>
    </div>
    <div>
      <p>
        <strong>Complete: </strong> {{item.description}}
      </p>
    </div>
  </div>
</div>
