img {
  height: 100px;
  width: 150px;
}

.logo {
  height: 50px;
  width: 50px;
}

.navbar, .left, .right, .title {
  display: inline-block;
}

.title {
  padding: 40px;
  vertical-align: top;
}

.right {
  float: right;
}

.left {
  float: left;
}

.search {
  width: 200px;
  height: auto;
  padding: 5px;
  border: 1px solid grey;
}
.searcher {
  width:200px;
}

.search:hover {
  background-color: grey;
  cursor: pointer;
}
i:hover {
  cursor: pointer;
}
